[Unit]
Description=Weight Check Service
After=network.target

[Service]
Type=simple
User=speedy
WorkingDirectory=/home/speedy/Documents/WeightGraph/
ExecStart=/usr/bin/python /home/speedy/Documents/WeightGraph/WeightCheck.py
Restart=always

[Install]
WantedBy=multi-user.target